
*{
    margin: 0;
    padding: 0;
}
#first-section {
    border: 2px solid #3a6ea5;
    border-top: none;
    display: flex;
    height: 191px;
}
.question {
    display: flex;
    flex-direction: column;
    flex-grow: 30;
    font-family: Arial, Helvetica, sans-serif;
}
.question-number {
    background-color: #bcdef5;
    border-bottom: 2px solid #3a6ea5;
    padding: 7px 3px;
}
.question-number h4 {
    color: #000;
    display: inline-block;
    margin: 0;
}
.question-number span {
    color: blue;
    font-size: 12pt;
    font-weight: 700;
}

.question-statement {
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7px;
}
.question {
    display: flex;
    flex-direction: column;
    flex-grow: 30;
    font-family: Arial, Helvetica, sans-serif;
}
.question-text-area {
    border: 1px solid #000;
    font-size: 1.1em;
    overflow: auto;
    resize: none;
    width: 99%;
}
.image {
    align-items: center;
    background-color: #bcdef5;
    border-left: 2px solid #3a6ea5;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}
.photograph-span {
    color: #000;
    display: "block";
    font-size: "10px";
    font-weight: 400;
}

.student-image {
    border-width: 0;
    height: 160px;
    padding: 1px;
    width: 134px;
}