.test-scores-container {
    margin-top: 0px;
  }
  .test-scores-container h2{
    padding: 20px;
    background-color: antiquewhite;
  }
  .test-scores-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  .test-scores-table th,
  .test-scores-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .test-scores-table th {
    background-color: #f2f2f2;
  }
  
  .test-scores-table tr:hover {
    background-color: #f2f2f2;
  }
  