#options-section {
    background-color: #f0f8ff;
    border: 2px solid #3a6ea5;
    border-top: none;
    display: flex;
    flex-direction: column;
    height: 255px;
    justify-content: space-evenly;
    padding: 2px 10px 2px 0;
}
.option {
    display: flex;
    justify-content: flex-start;
}
.option input[type=radio] {
    margin: 0 8px;
}
.option-text-area {
    border: 1px solid #000;
    font-size: 1.2em;
    overflow: auto;
    resize: none;
    width: 97vw;
}
